#quests{
    position: fixed;
    left: -1em;
    transform: scale(.5) translate(-50%, -50%);
}

.quest{
    min-width: 12em;
  font-family: "Open Sans", Helvetica, sans-serif;
  transform: translate(0);
  transition: 0.4s;
  box-shadow: 0px 5px 20px -10px #111111;
  user-select: none;
  pointer-events: all;
}

.quest > img{
    position: absolute;
    z-index: -1;
    width: 5em;
    bottom: 2em;
    --mask: linear-gradient(315deg,#0000 41px,#000 0);
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.quest__info {
    margin: 0;
    text-align: end;
    margin-top: 0.5em;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    padding-left: 3em;
    line-height: 1;
    border-radius: 2px;
  }

.quest progress{
    width: 100%;
}


#quest-complete{
    pointer-events: all;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('/cityblock/modules/img/radiant.png'), url('/modules/img/radiant.png');
    background-position: center;
    z-index: 1000;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: 40vw;
}