#quests{
    position: fixed;
    left: -1em;
    transform: scale(.5) translate(-50%, -50%);
}

.quest{
    filter: grayscale(1) blur(3px);
}

.quest .lock{
    display: grid;
    place-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.quest .lock i{
    font-size: 5em;
}

.quest__info {
    margin: 0;
    text-align: end;
    margin-top: 0.5em;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    padding-left: 3em;
    line-height: 1;
    border-radius: 2px;
    margin-bottom: .5em;
  }

.quest progress{
    width: 100%;
    margin: auto;
}
.quest span > img{
    width: 1em;
    margin-top: -100%;
    margin-left: 0.5em;
}


#quest-complete{
    pointer-events: all;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('/cityblock/modules/img/radiant.png'), url('/modules/img/radiant.png');
    background-position: center;
    z-index: 1000;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: 40vw;
}

