body{
    background: #1d4014;
    margin: 0;
}

#map{
    display: grid;
    place-content: center;
    height: 30em;
}

*{
    font-family: 'IBM Plex Mono', monospace;
}

.cant-place::after{
    content: '';
}