body{
    background: #1d4014;
}

#hero{
    display: grid;
    place-content: center;
    height: 100vh;
}

#hero > .bg{
    height: 600px;
}

#grid{
    margin-left: 230px;
}

*{
    font-family: 'IBM Plex Mono', monospace;
}

.cant-place::after{
    content: '';
}