body{
    overflow: hidden;
}

#grid{
    transform: skewY(333deg);
    width: fit-content;
}

#grid .row{
    display: flex;
}
#grid .cell{
    margin-right: -76px;
    transform: skewY(26.5deg);
    margin-bottom: -76px;
    position: relative;
    justify-content: center;
    display: flex;
}


#grid .img{
    width: 153px;
    height: 153px;
    background-size: contain;
}

#grid .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dropzone {
    padding: 53px;
    float: left;
    transform: rotate(45deg);
}
.overlay > div{
    transform:scale(1, .5) translateY(175px) translateX(25px);
}

.cell.invalid {
    filter: grayscale(1);
}