body{
    overflow: hidden;
}

#grid{
    transform: skewY(333deg);
    width: fit-content;
}

#grid .row{
    display: flex;
}
#grid .cell{
    margin-right: -76px;
    transform: skewY(26.5deg);
    margin-bottom: -76px;
    position: relative;
    justify-content: center;
    display: flex;
}


#grid .img{
    width: 153px;
    height: 153px;
    background-size: contain;
}

#grid .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.hover .dropzone {
    border: 1px solid black;
}
.dropzone {
    padding: 53px;
    float: left;
    transform: rotate(45deg);
}
.overlay > div{
    transform:scale(1, .5) translateY(175px) translateX(25px);
}

/* todo */
#grid .cell.valid.hover .img{
    -webkit-animation-name: hover;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

/* #grid .cell.valid.animate .unhover {
    -webkit-animation-name: unhover;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
} */
  
  @-webkit-keyframes hover {
    from {
        transform:translateY(0);
    }
    to {
        transform:translateY(10px);
    }
  }
  
  /* @-webkit-keyframes unhover {
    from {
        margin-top: -20px;
    }
    to {
        margin-top: 0;
    }
  } */

.cell.invalid {
    filter: grayscale(1);
}