body{
    background: #657986;;
    margin: 0;
}

#map{
    display: grid;
    place-content: center;
    height: 30em;
}

*{
    font-family: 'Bungee', cursive;
}

.cant-place::after{
    content: '';
}