body{
    background: #202018;
    margin: 0;
}

#map{
    display: grid;
    place-content: center;
    height: 30em;
}

*{
    font-family: 'Bungee', cursive;
}

.cant-place::after{
    content: '';
}

.col{
    flex: 1;
    flex-direction: column;
}
.row{
    display: flex;
}