#main-menu{
  background-image: url('../../img/cityblock.png');
    background-position: center;
    background-size: 200vh;
    height: 100vh;
  }
#main-menu main{
  width: max(15em,30vw);
  display: grid;
  place-content: center;
}

#main-menu > div{
  display: grid;
  place-content: center;
}
#main-menu *{

  font-family: 'grim reaper', sans-serif;
  touch-action: auto;
    pointer-events: all;
}