*{ 
  touch-action: none;
  pointer-events: none;
  user-select: none; 
}
#deck{
  position: relative;
  min-width: 9em;
}
#deck img{
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

center{
  display: grid;
  place-content: center;
  height: 100%;
}
end{
  display: grid;
  place-content: end;
  height: 100%;
}

#can-place-overlay{
  display: none;
  position: absolute;
  width: 153px;
  bottom: 0;
}
#can-place-overlay > img{
  width: 100%;
}

#tile-card-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 1em;
  width: 4.5em;
  display: flex;
  flex-direction: column-reverse;
}

.col{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
}

#cards{
  user-select: none;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background: url('../../img/ui/brick_dark.png');
  background-size: 10em;
  border-top: 13px solid;
  border-image: url('../../img/ui/brick_dark.png') 400 200 round;
}

.card.dragging{
  transform: scale(.6) translateY(-50px);
}

.card{
  padding: 0.5em;
  margin: -2em;
  width: 12em;
  min-width: 12em;
  font-family: "Open Sans", Helvetica, sans-serif;
  transform: scale(.6);
  transition: 0.4s;
  box-shadow: 0px 5px 20px -10px #111111;
  user-select: none;
  pointer-events: all;
  height: 16em;
  background: url('../../img/ui/paper.jpg');
  background-size: 100%;
}
.deck-bg{
  position: relative;
  border: 13px solid;
  border-image: url('../../img/ui/hex.png') 400 200 round;
}
.card.hidden{
  visibility: hidden;
  pointer-events: none;
}
.card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  position: relative;
  z-index: -1;
  --mask: linear-gradient(135deg,#0000 60px,#000 0);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  height: 14em;
  top: -1em;
  padding-bottom: 1.8em;
}
.card img{
  width: 100%;
  filter: sepia(1);
  margin-bottom: 2em;
}
.card .label{
  vertical-align: bottom;
  line-height: 10em;
  text-align: center;
  height: 6em;
  position: absolute;
  left: 0;
  text-align: center;
  color: white;
  right: 0;
  bottom: 0.5em;
  z-index: 1;
}
.card .label.bg{
  background: #40392d;
  z-index: -1;
}
.triangle{
  
  transform: skew(0deg, 315deg);
  position: absolute;
  width: 0.2em;
  z-index: 2;
  border-color: rgb(255 255 255 / 54%);
  border-style: solid;
  border-width: 5px 81px 0 0;
  top: 3.3em;
}
.card__type {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: end;
  padding-right: 0.5em;
  border-radius: 2px;
}
.card .count{
  position: absolute;
    right: -1em;
    top: -1em;
    color: white;
    background: #0f180d;
    text-align: center;
    border-radius: 100%;
    border: 1px solid black;
    padding: 0.5em;
    width: 1em;
}
.card .count i{
  margin-left: -0.1em;
}
.card__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__stats {
  margin: 1em 0;
  width: 100%;
}
.card__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}
.card__stats th, .card__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}
.card__abilities {
  display: flex;
  justify-content: space-between;
}
.card__ability {
  margin-top: 1em;
  flex: 1 0;
}
